* {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 25px 0;
    padding: 20px 25px;

    border-left: 5px solid #1e6f1e;
    /* verde principal */

    background: #f8fff8;
    /* verde bem claro */

    font-style: italic;
    color: #2e2e2e;

    border-radius: 8px;
}

blockquote cite {
    display: block;
    margin-top: 10px;

    font-size: 14px;
    color: #1e3a5f;
    /* azul mais escuro */
    font-style: normal;
    font-weight: 500;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: rgb(188, 238, 253);
    padding: 5px;
}
.menu {
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.menu a {
    text-decoration: none;
    color: #1f1f1f;
    font-family: Rubik, sans-serif;
    font-size: 18px;
}

/* ESTRUTURA PADRÃO */
.secao {
    padding: 50px 20px;
}

.secao-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.801);
}

/* TÍTULO */
.secao-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* TEXTO */
.secao-container p {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
}

/* VERDE */
.secao-verde {
    background-color: rgba(18, 85, 5, 0.842);
}

.secao-verde h2,
.secao-verde p {
    color: black;
}

/* BRANCO */
.secao-branca {
    background-color: #ffffff;
}

.secao-branca h2 {
    color: #222;
}

.secao-branca p {
    color: #2c2b2b;
}

.objetivos {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1 fr));
    gap: 20px;
}

.objetivos li {
    margin-bottom: 10px;
    background-color: rgba(110, 178, 233, 0.605);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.objetivos li:hover {
    transform: translateY(-7px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.603);
}

.objetivos h3 {
    margin-bottom: 10px;
    color: #000000;
}

.objetivos p {
    color: #000000;
}
.valores {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.valores img{
    margin-top: 35px;
    height: 350px;
    border-radius: 20%;
}
.sempre-pronto{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.item {
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    border: 2px solid #1e3a5f;
    
    padding: 10px;
    
    transition: transform 0.2s;
}

/* efeito leve */
.item img:hover {
    transform: scale(1.2);
}

.item p {
    margin-top: 10px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
    margin-top: 25px;
   
    
}
table, th, td{
    border: 1px solid #000;
    
}
td, th{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    text-align: left;
}
tr:last-child td{
    border-bottom: none;
}
